<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myquran"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/qq"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myquran.FrontPage"
            android:label="@string/app_name"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myquran.HomePage"
            android:icon="@drawable/quranz"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myquran.Islamactivity"
            android:icon="@drawable/quranz"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.myquran.PrayerTimeActivity"
            android:icon="@drawable/quranz"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.myquran.ZakkathActivity"
            android:icon="@drawable/quranz"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.myquran.QuranActivity"
            android:icon="@drawable/quranz"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.myquran.LanguageSelect"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myquran.PrefsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myquran.AdkarActivity"
            android:icon="@drawable/quranz"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.myquran.AdkarListViewMorning"
            android:icon="@drawable/quranz"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.myquran.AdkarListViewEvening"
            android:icon="@drawable/quranz"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.myquran.AdkarListViewSleep"
            android:icon="@drawable/quranz"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.myquran.AdkarListViewWakingUp"
            android:icon="@drawable/quranz"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.myquran.AdkarListViewMosque"
            android:icon="@drawable/quranz"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.myquran.AdkarListViewAfterPrayer"
            android:icon="@drawable/quranz"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.myquran.QuranActivityChapters"
            android:icon="@drawable/quranz"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.myquran.AboutAppActivity"
            android:icon="@drawable/quranz"
            android:label="" >
        </activity>

        <receiver android:name="com.example.myquran.AlarmReceiver" />
    </application>

</manifest>